#Creation of data arrays as per IRDA and company guidelines

tp_rate = [16049, 27186, 35313, 43950, 44242]

tarriff_rate = [0.01726, 0.01770, 0.01812]

discount = [0.4, 0.15, 0.2, 0.23]

#IDV

idv = int(input("Enter IDV required:"))

#Calculate vehicle age for tarrif rate application

year_of_manufacture = int(input("Enter Year of Manufacture:"))

age = 2023 - year_of_manufacture

#print ("Age of Vehicle:", age)

#Calculate GVW for TP and OD loading

gross_vehicle_weight =int(input("Enter GVW of Vehicle:"))

gvw_for_calculation = 0

if gross_vehicle_weight > 12000:
    gvw_for_calculation = gross_vehicle_weight - 12000

#print ("GVW for calc:", gvw_for_calculation)

#Basic OD Calculation

od_tariff = idv * tarriff_rate

if age <= 5:
    od_tariff = idv * tarriff_rate[0]
elif age > 5 and age <=7:
    od_tariff = idv * tarriff_rate[1]
elif age > 7:
    od_tariff = idv * tarriff_rate[2]
else:
    print("Error, please run program again")

#print("Basic OD Tariff:", od_tariff)

#OD calculation without discount and IMT 23

od_premium = (od_tariff + (gvw_for_calculation*0.27))

#print("OD premium without discount:", od_premium)

#application of discount

discounted_odpremium = od_premium * 1

if age < 5 and gross_vehicle_weight > 12000:
    discounted_odpremium = od_premium * discount[0]
elif age > 5 and gross_vehicle_weight > 12000:
    discounted_odpremium = od_premium * discount[1]
elif gross_vehicle_weight <= 2500:
    discounted_odpremium = od_premium * discount[2]
elif gross_vehicle_weight > 2500 and gross_vehicle_weight <=3500:
    discounted_odpremium = od_premium * discount[3]
elif gross_vehicle_weight > 40000:
    discounted_odpremium = od_premium * discount[0]
else:
    print("Wrong data entered")

#print("Discounted OD premium:", discounted_odpremium)

#OD with IMT 23

od_with_imt23 = discounted_odpremium + (discounted_odpremium * 0.15)

#NCB

ncb = int(input("Enter NCB here(no % sign please):"))

ncb_percentage = ncb/100

#Final OD calculation

net_od = od_with_imt23 - (od_with_imt23 * ncb_percentage)

print("Net Own Damage premium:", net_od)

gst_od = net_od + (net_od * 0.18)

#print ("Payable OD with GST:", gst_od)

#OD Calculation Finishes here final variable is gst_od for total payable premium calculation

#TP calculation

if gross_vehicle_weight <= 7500:
    net_basic_tp = tp_rate[0]
elif gross_vehicle_weight > 7500 and gross_vehicle_weight <= 12000:
    net_basic_tp = tp_rate[1]
elif gross_vehicle_weight > 12000 and gross_vehicle_weight <= 20000:
    net_basic_tp = tp_rate[2]
elif gross_vehicle_weight > 20000 and gross_vehicle_weight <=40000:
    net_basic_tp = tp_rate[3]
elif gross_vehicle_weight > 40000:
    net_basic_tp = tp_rate[4]
else:
    print ("Something went wrong")

tp_basic = net_basic_tp + (net_basic_tp * 0.12)

#print("Basic TP premium with 12% GST:", tp_basic)

#Add owner driver and passanger cover

owner_pa = int(input("Enter owner driver PA cover premium amount: "))

imt_28_39 = int(input("Enter driver/cleaner/conductor/coolie premium: "))

tp_misc = (owner_pa + imt_28_39) * 1.18

#print ("tp misc", tp_misc)

#Calculate total TP

total_tp = tp_basic + tp_misc

#print("Total payable TP:", total_tp)

#Final Premium calculation

total_premium = gst_od + total_tp

print ("Total Net Premium: ", net_basic_tp + owner_pa + imt_28_39 + net_od)

print ("Total premium payable:", total_premium)
